@media only screen and   (min-width: 728px)  {
	input h1  {
		width: 100%;
		display: block;
	}
	nav  {
		flex-direction: column;
	}
	.btn {
		width: 100%;
		margin: 50% 50%;

	}
}


body{
	margin: 0px;
	color: ghostwhite;
	padding: 0px;
	background: url('gym pic.jpg') ;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Baloo Bhaina 2', cursive;
    height: 100%;
}

.left{
	display: inline;
	position: absolute;	
	left: 30px;
	top: 30px;
}

.left div{
	margin: 0 0 ;
	text-align:center;
	line-height: 22px;
	font-size: 22px;
}

form {
	align-items: center;
}

.form-group input{
	font-family: 'baloo Bhaina', cursive;
	text-align: center;
	display: block;
	width: 400px;
	padding: 15px;
	border:1px solid black;
	margin: 11px auto;
	font-size: 20px;
	border-radius: 12px;
	font-weight: 5px;
}

.container button{
	display: block;
	width: 50%;
	margin: 25px  auto;
	/*left: 40px;*/
	font-style: italic;
	font-size: 25px;
	padding: 10px;
}
 h1 {
 	text-align: center;
 	margin-top: 80px;
 }


.container{
	margin:auto;
	padding: 20px; 
	width:30%;
	}

.left img{
	width: 40px;
}
.btn1 {
	background-color: black;
	color: white;
	border: 2px solid grey;
	cursor: pointer;
	font-size:14px;
	border-radius: 14px;
	padding: 10px 15px;
}

.btn{
	margin: 0px 9px;
	background-color: black;
	color: white;
	padding: 5px 15px;
	border: 2px solid grey;
	border-radius: 14px;
	cursor: pointer;
	font-size:13px;
}
 .btn1:hover  {
	background-color:rgb(30, 38, 40 , 1);
}

  .btn:hover  {
	background-color:rgb(31, 30, 30 , 1);
}

nav  {
	align-items: center;
	margin-left: 20%;

}

nav li{
	font-size: 25px;
	display: inline;
	margin: auto;
	
}

nav li a{
	color: white;
	text-decoration: none;
	padding: 34px 23px;
}

nav li a:hover, nav li a.active{
	text-decoration: underline;
	color: grey;
}

.right{
	position: absolute;
	display: inline;
	right: 30px;
	top: 15px;
}


footer {
	text-align: center;
	padding: 10px;
	background-color: black;
	font-size: 20px;
}


